body {
  background-color: #fafafa;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  margin: auto;
  max-width: 400px;
  width: 100%;
  padding: 20px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
div {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

button.create-form {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(255, 92, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.create-form:hover {
  background-color: rgb(248, 135, 70);
}
.service-requested {
  height: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.service-requested div,
.service-request div {
  text-align: center;
}
.service-request {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
}
ul {
  list-style-type: decimal;
}
