* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

body {
  background-color: white;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  color: #33363b;
}

p {
  font-size: 14px;
  color: #868d9b;
}

.card {
  width: 450px;
  height: auto;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 80px;
  box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 7px;
  margin-bottom: 20px;
}

.card_profile_img {
  width: 120px;
  height: 120px;
  background-color: #868d9b;
  background: url("/img/customer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid #ffffff;
  border-radius: 120px;
  margin: 0 auto;
  margin-top: -60px;
}

.card_background_img {
  width: 100%;
  height: 180px;
  background-color: #e1e7ed;
  background: url("/img 2/our_services_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;

  border-radius: 7px;
}

.user_details p {
  margin-bottom: 20px;
  margin-top: 2px;
}

.user_details h3 {
  margin-top: 10px;
}

.card_count {
  padding: 30px;
  border-top: 1px solid #dde1e7;
}

.count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}

.count p {
  margin-top: 2px;
}

.btn {
  padding: 16px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: rgb(255, 92, 0);
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover {
  background-color: rgba(255, 119, 40, 0.983);
}
.main {
  border-radius: 20px;
}
