* {
  margin: 0%;
  padding: 0%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.top {
  height: 20px;
  width: 100%;
  background-color: rgb(255, 92, 0);
}
.title > h4 {
  color: green;
  font-size: xx-large;
  font-weight: 900;
  display: inline;
  position: relative;
  top: 10px;
}
.links {
  padding-top: 15px;
}
.space-in-a {
  margin-left: 5px;
}
.head {
  display: flex;
  flex-direction: row;
  gap: 100px;
  width: 100%;
  height: 150px;
  justify-content: space-between;
}
.sub-head {
  display: flex;
}
.links > a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.profile-con {
  display: inline;
  margin-top: 4px;
}
.carousel {
  box-sizing: border-box;
  display: inline;
  height: 500px;
  width: 100%;
}

.our-service {
  padding: 2rem;
}
.our-service b {
  color: black;
  padding: 5px 10px; /* Padding to create space around the text */
  border: 1px solid rgb(255, 92, 0); /* Border properties */
  border-radius: 3px; /* Border radius for rounded corners */
  background-clip: padding-box; /* Ensure the background extends to the padding area */
  font-family: "Saira", sans-serif; /* Specify a fallback font */
  font-size: 2em; /* Adjust the font size */
  font-size: smaller;
  letter-spacing: 3px;
}
.careService {
  margin-bottom: 10px;
}
.service {
  display: flex;
  height: 450px;
}
.inner {
  display: inline-block;
  height: 390px;
  width: 400px;
  border-radius: 10%;
  margin: 10px;
  border: none;
  padding: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.desc {
  font-size: large;
  font-weight: 500px;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.inner img {
  border-radius: 10%;
  padding: 0.5rem;
  width: 350px;
}
.inner p {
  padding: 0.5rem;
}

.profile-con {
  height: 200px;
}
.tag {
  text-align: center;
  font-size: large;
  text-transform: capitalize;
  font-weight: 500px;
}
footer {
  background-color: #e5fcfb;
  padding: 4rem;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1200px;
  width: 100%;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  margin-right: 0.5rem;
}
.footer-logo h4 {
  color: green;
  font-size: xx-large;
  font-weight: 900;
  margin-left: 10px;
  margin-top: 30px;
}
.footer-logo img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.footer-info {
  display: flex;
  flex-basis: 60%;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.social-links a {
  margin-left: 8px;
}

.footer-description {
  flex-basis: 30%;
  margin-bottom: 2rem;
}

.footer-link-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
}
.footer-link-wrapper a {
  text-decoration: none;
}
.footer-links-first {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.footer-links-second {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

.footer-links a {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.footer-cta {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  /* margin-bottom: 2rem; */
}

.footer-cta input {
  flex-basis: 70%;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  border-radius: 24px;
  border: none;
}

.footer-cta button {
  flex-basis: 30%;
  background-color: rgb(255, 92, 33);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 18px;
  margin-top: 10px;
}
