* {
  margin: 0%;
  padding: 0%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.top {
  height: 20px;
  width: 100%;
  background-color: rgb(255, 92, 0);
}
.title > h4 {
  color: green;
  font-size: xx-large;
  font-weight: 900;
  display: inline;
  position: relative;
  top: 10px;
}
.head {
  display: flex;
  flex-direction: row;
  gap: 100px;
  width: 100%;
  height: 120px;
  justify-content: space-between;
}
.sub-head {
  display: flex;
}
.links {
  padding-top: 15px;
}

.links > a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.profile-con {
  display: inline;
  margin-top: 4px;
}
.carousel {
  box-sizing: border-box;
  display: inline;
  height: 500px;
  width: 100%;
}
.our-service {
  padding: 2rem;
}
.our-service b {
  color: black;
  padding: 5px 10px; /* Padding to create space around the text */
  border: 1px solid rgb(255, 92, 0); /* Border properties */
  border-radius: 3px; /* Border radius for rounded corners */
  background-clip: padding-box; /* Ensure the background extends to the padding area */
  font-family: "Saira", sans-serif; /* Specify a fallback font */
  font-size: 2em; /* Adjust the font size */
  font-size: smaller;
  letter-spacing: 3px;
}
.careService {
  margin-bottom: 10px;
}
.service {
  display: flex;
  height: 450px;
}
.inner {
  display: inline-block;
  height: 390px;
  width: 400px;
  border-radius: 10%;
  margin: 10px;
  border: none;
  padding: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.desc {
  font-size: large;
  font-weight: 500px;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.inner img {
  border-radius: 10%;
  padding: 0.5rem;
  width: 350px;
}
.inner p {
  padding: 0.5rem;
}
.special-care {
  padding: 0.9rem;
}
.profile-con {
  height: 200px;
}
.serv2 {
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.serv-part1 {
  height: 100%;
  width: 50%;
  /* border: 2px red solid; */
  font-weight: 500px;
}
.serv-part2 {
  height: 100%;
  width: 50%;
  /* border: 2px red solid; */
  box-sizing: border-box;
  display: flex;
}
#tag {
  font-size: x-large;
  font-weight: 900px;
  margin-top: 10px;
  text-transform: capitalize;
}
.serv {
  color: black;
  padding: 5px 10px; /* Padding to create space around the text */
  border: 1px solid rgb(255, 92, 0); /* Border properties */
  border-radius: 3px; /* Border radius for rounded corners */
  background-clip: padding-box; /* Ensure the background extends to the padding area */
  font-family: "Saira", sans-serif; /* Specify a fallback font */
  font-size: 2em; /* Adjust the font size */
  font-size: smaller;
  letter-spacing: 3px;
  font-weight: bolder;
  margin-bottom: 10px;
  height: fit-content;
  width: fit-content;
}

#img1 {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
}
.image {
  /* border: 2px grey solid; */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
  border-radius: 20px;
  margin-left: 20px;
}

.serv-part1 li {
  color: black;
}
.motive {
  color: rgb(0, 0, 0);
  background: rgb(255, 202, 142);
  padding: 1rem;
  border: none;
  letter-spacing: 1px;
  font-size: larger;
}
.serv-part1 > p {
  margin-right: 4px;
  border-radius: 10px;
}
.feedback-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed {
  text-align: center;
}

#feed-title {
  font-size: x-large;
  font-weight: 700px;
  text-transform: capitalize;
  text-align: center;
}

.img-profile-outer {
  display: flex;
  height: 45%;
  gap: 20px;
}
.img-profile-inner {
  background: rgb(227, 227, 227);
  padding: 1rem;
  width: 45%;
  height: 250px;
  font-size: large;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.name {
  color: black;
}
.cont {
  color: rgb(79, 66, 66);
}
.img-profile-inner > u {
  font-size: medium;
}
.img-profile-inner > p {
  display: inline-block;
}
.img-profile-inner > img {
  display: inline-block;
  border-radius: 50%;
}
.feed-section {
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding: 2rem;
  height: 600px;
  width: 100%;
}
/**Happy Clients section*/

/* For footer section*/
footer {
  background-color: #e5fcfb;
  padding: 4rem;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1200px;
  width: 100%;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  margin-right: 0.5rem;
}
.footer-logo h4 {
  color: green;
  font-size: xx-large;
  font-weight: 900;
  margin-left: 10px;
  margin-top: 30px;
}
.footer-logo img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.footer-info {
  display: flex;
  flex-basis: 60%;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.social-links a {
  margin-left: 8px;
}

.footer-description {
  flex-basis: 30%;
  margin-bottom: 2rem;
}

.footer-link-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
}
.footer-link-wrapper a {
  text-decoration: none;
}
.footer-links-first {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.footer-links-second {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

.footer-links a {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.footer-cta {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  /* margin-bottom: 2rem; */
}

.footer-cta input {
  flex-basis: 70%;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  border-radius: 24px;
  border: none;
}

.footer-cta button {
  flex-basis: 30%;
  background-color: rgb(255, 92, 0);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 18px;
  margin-top: 10px;
}
marquee{
  background-color: blue;
  text-transform: capitalize;
  font-weight: 800;
  color: white;
}


/*media queries*/
/* @media only screen 
and (min-device-width : 320px)
and (max-width:480px) */
@media only screen and (max-width: 768px) {
  body{
    width: 100%;
  }
  .top{
    max-width: 100%;
  }
  .head{
    max-width: 95%;
    gap: 20px;
  }
  .title{
    max-width: 150px;
    margin-left: 10px;
  }
  .title>h4{
    font-size: 12px;
    width: 100px;
    display: inline-block;
    position: relative;
    top: -10px;
  }
  .links{
    display: inline-flex;
    gap: 3px;
  }
  .container{
    max-width: 95%;
    height: 140px;
  }
  #myCarousel,.carousel{
    max-height: 150px;
  }
  .item>img{
    width: 80%;
    max-height: 150px;
  }
  .service{
    height: 1000px;
    width: 98%;
    flex-direction: column;
  }
  .inner{
    width:90% ;
    height: fit-content;
    display: inline-block;
  }
  .inner img{
    width: 95%;
   
  }
  #signup-tag{
    display: none;
  }
  #contact-tag{
    display: none;
  }
  .serv2{
    display: inline-flex;
    flex-direction: column;
    height: 900px;
    padding: 5px;
    gap: 10px;

  }
  .serv-part1{
    width: 95%;
    height: 500px;
    display: block;
  }
  #tag{
    width: 95%;
    display: block;
  }
  .serv-part2{
    width: 95%;
    height: 300px;
    display: inline-flex;
    position: relative;
    top: 200px;
    gap: 10px;
  }
  .img{
    width: 40%;
    height: 200px;
    
  }
  .image{
    width: 95%;
    height: 200px;
  }
  .feedback-container{
    height:fit-content;
    margin: 5px;
  }
  .feed-section{
    height: fit-content;
  }
  .img-profile-outer{
    height: 90%;
    display: inline-flex;
    flex-direction: column;
  }
  .img-profile-inner{
    width: 95%;
    height: fit-content;
    margin-bottom: 20px;
  }
  footer{
    padding: 1rem;
    width: 95%;
    margin-left: 10px;
  }
  .footer-logo{
    width: 50%;
    position: relative;
    right: 90px;
  }
  .footer-log img{
    height: 50px;
  }
  .footer-logo h4{
    font-size: 20px;
  }
  .footer-info{
    display: inline-flex;
    gap: 10px;
    padding-left: 10px;
  }
  .footer-info>p{
    display: inline-flex;
    gap:10px;
  }
  .social-links{
    position: relative;
    bottom: 50px;
    right: 70px;
    padding-left: 10px;
  }
  .footer-description{
    width: 200px;
    display: inline-block;
    
  }
  .footer-description h4,.footer-description b{
    width: 250px;

}
.footer-cta input{
  position: relative;
  left: 10px;
}
}
